.avatar_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    span {
        font-size: 14px;
        padding: 2px 5px;
        border-radius: 5px;
        cursor: pointer;
    }
}
.imageUploadWidget {
    border:1px dashed gray;
    display:block;
    margin:0 auto;
    max-width:59%;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:10px;
    cursor:pointer;
    background-color:#efefef;
}

