.forgotPassword {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh; 
    .formWrapper {
        width: 400px;
        border: 1px solid #ddd;
        padding:20px;
        border-radius: 10px;
        form {
            display: flex;
            justify-content: center;
        }    
    }   
}